.body {
    margin:0; 
    padding: 10px;  
}

.header {
    grid-area:header;
}
.sidebar {
    grid-area:sidebar;
}
.main {
    grid-area:main;
}
.footer {
    grid-area:footer;
}
/*.footers {
    grid-area:footers;
}*/

.grid-container {
    display: grid;
    grid-template-areas: "header header header" "sidebar main main" "footer footer footer";
}
.box {
    border: solid 1px black;
    margin: 10px;
}
